<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <title>
        <%=titulo%>
    </title>
</head>

<body>
    <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>
                        <%=titulo%>
                    </h1>
                    <div class="form-group">
                        <table class="table">
                            <tr>
                                <th class="text-center" scope="col">Pessoa</th>
                                <th class="text-center" scope="col">Amigo oculto</th>
                            </tr>
                            <% for(let i = 0; i < listAmigos.length; i++) { %>
                                 <tr>
                                     <td class="text-center"><%=listAmigos[i]%></td>
                                     <td class="text-center"><%=listAux[i]%></td>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                    <a class="btn btn-primary" href="/amigo.html">Novo sorteio</a>
                    <a class="btn btn-light" href="/index.html">Voltar</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>